Backend/obj/Debug/net8.0/Backend.csproj.CoreCompileInputs.cache
Backend/bin/Debug/net8.0/Backend.dll
Backend/bin/Debug/net8.0/Backend.dll
Backend/obj/Debug/net8.0/Backend.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/Backend.csproj.nuget.dgspec.json
Backend/obj/Backend.csproj.nuget.dgspec.json
Backend/obj/Backend.csproj.nuget.g.props
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
Backend/obj/Debug/net8.0/apphost.exe
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Backend.assets.cache
Backend/obj/Debug/net8.0/Backend.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net8.0/Backend.csproj.FileListAbsolute.txt
**/bin/Debug/
**/obj/Debug/
Backend/obj
Backend/Backend.csproj
Backend/appsettings.Development.json
Backend/appsettings.json
Backend/Backend.sln
Backend/.env
Backend/bin