Backend/obj/Debug/net8.0/Backend.csproj.CoreCompileInputs.cache
Backend/bin/Debug/net8.0/Backend.dll
Backend/bin/Debug/net8.0/Backend.dll
Backend/obj/Debug/net8.0/Backend.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
