.background {
    background-image: url('https://marketplace.canva.com/EAF_Xo7Q_WA/1/0/1600w/canva-yellow-and-black-fitness-youtube-thumbnail-MbCm9nHsWpQ.jpg');
    background-size: cover;
}

.video-fade {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
